<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.securelearning.lil.android.app">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <receiver android:name="in.securelearning.lil.android.syncadapter.receiver.ConnectivityChangeReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="in.securelearning.lil.android.provider.SearchSuggestionProvider"
            android:authorities="@string/authorities"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="in.securelearning.lil.android.syncadapter.service.FCMReceiverService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="in.securelearning.lil.android.syncadapter.dataobjects.FCMToken"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="in.securelearning.lil.android.syncadapter.service.SyncService"
            android:stopWithTask="false" />

        <service
            android:name="in.securelearning.lil.android.syncadapter.service.UserService"
            android:stopWithTask="false" />

        <service
            android:name="in.securelearning.lil.android.syncadapter.service.MessageService"
            android:stopWithTask="false" />

        <service
            android:name="in.securelearning.lil.android.syncadapter.service.CourseService"
            android:stopWithTask="false" />

        <activity
            android:name="in.securelearning.lil.android.startup.views.activity.AppIntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="in.securelearning.lil.android.login.views.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/CustomActivityTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.home.views.activity.NavigationDrawerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.PlayVideoFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeLightNoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.PlayFullScreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UserDialog" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.PostLikeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.CreatePostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.LearningNetworkGroupListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.PostListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="in.securelearning.lil.android.home.views.activity.NavigationDrawerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.GroupDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.PostResponseListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="in.securelearning.lil.android.login.views.activity.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MaterialCamera.CaptureActivity" />

        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MaterialCamera.CaptureActivity" />

        <service
            android:name="in.securelearning.lil.android.syncadapter.service.BroadcastNotificationService"
            android:exported="false" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.PracticePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.PlayYouTubeFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.PlayVimeoFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.RapidLearningCardsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.RapidLearningSectionListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.QuizPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.player.view.activity.RevisionPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.home.views.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_settings"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeWhite" />

        <activity
            android:name="in.securelearning.lil.android.home.views.activity.PasswordChangeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeWhite"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="in.securelearning.lil.android.learningnetwork.views.activity.CreatePostSharedIntentActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/learning_network"
            android:maxRecents="1"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <!-- <data android:mimeType="video/*"/> -->
            </intent-filter>
        </activity>

        <activity
            android:name="in.securelearning.lil.android.lrpa.views.activity.SubjectDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.StudentProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.thirdparty.views.activity.WikiHowListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.analytics.views.activity.StudentAnalyticsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.analytics.views.activity.TimeEffortDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.analytics.views.activity.PerformanceDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.analytics.views.activity.ProgressDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.login.views.activity.GeneratePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeWhite"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="in.securelearning.lil.android.analytics.views.activity.StudentAnalyticsTabActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.homework.views.activity.SubmitHomeworkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeWhite"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.homework.views.activity.HomeworkDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeWhite"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.StudentProfileGoalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.StudentProfileSubjectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.StudentProfileCoCurricularActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.StudentProfileHobbyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.thirdparty.views.activity.LogiqidsQuizPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.thirdparty.views.activity.MindSparkPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.thirdparty.views.activity.MindSparkAllTopicListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.home.views.activity.VocationalTopicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.UserPublicProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.profile.views.activity.StudentPublicProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.gamification.views.activity.MascotActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Mascot"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="in.securelearning.lil.android.home.views.activity.HelpAndFAQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/help_and_faqs_amp"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="in.securelearning.lil.android.thirdparty.views.activity.GeoGebraPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/labelGeoGebra"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>