<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="in.securelearning.lil.android.player.view.activity.SampleWebTextActivity"
            android:label="@string/title_activity_sample_web_text"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>